body
{
	width: 100vw;
	height: 100vh;

	background: rgb(30,144,255);
	background: -moz-radial-gradient(center, ellipse cover, rgb(30,144,255) 0%, rgb(70,130,180) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(30,144,255)), color-stop(100%, rgb(70,130,180)));
	background: -webkit-radial-gradient(center, ellipse cover, rgb(30,144,255) 0%, rgb(70,130,180) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgb(30,144,255) 0%, rgb(70,130,180) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgb(30,144,255) 0%, rgb(70,130,180) 100%);
	background: radial-gradient(ellipse at center, rgb(30,144,255) 0%, rgb(70,130,180) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e90ff', endColorstr='#4682b4', GradientType=1 );

	/*background: ghostwhite;*/

	overflow-x: hidden;
}

#div1, #div2
{
	width: 55%;
	background: ghostwhite;
	margin: auto;
}

#div1
{
	margin-top: 30px;
	border-radius: 10px 10px 0 0;
}

#div1 img
{
	display: block;
	position: relative;
	/*width: 75%;*/
	height: 450px;
	margin: auto;
}

#div2
{
	min-height: 100px;
	margin-bottom: 30px;
	border-radius: 0 0 10px 10px;
}

.opcion
{
	width: 90%;
	margin: auto;
	background: silver;
	padding: 15px 10px;
	border-radius: 6px;
}

.opcion h2
{
	font-family: Fredoka one;
	font-weight: 400;
	font-size: 20px;
	padding-top: 2.5px;
}

.comando
{
	position: relative;
	width: 95%;
	height: 0;
	background: ghostwhite;
	padding: 0;
	opacity: 0;
	border-radius: 5px;
	transition: all 0.5s;
	margin-top: 0;
	margin-left: 5px;
	font-family: Ubuntu mono;
	z-index: -1;
}

h3
{
	margin-left: 10px;
	font-family: Mogra;
	font-weight: 400;
}